
<app-nav [isUserLoggedIn]="false"></app-nav>

<div class="container  mt-5"  >
    <div class="row">
        <!-- <div class="col-md-5 mx-auto"> -->
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Hello, Welcome to Expenses Management System!</h1>
                        </div>
                        <div class="col-md-12 text-center mt-5">
                            <h3><span class="text-danger">Stop</span> chasing paper receipts</h3>
                            <h5 class="fw-light">Expenses keeps everything organized so you can say goodbye to that envelope of receipts!</h5>
                            <form class="col-md-12 text-center mt-5" >
                                <button class="btn btn-outline-success" type="button" routerLink="/login">Start now -It's Free</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<router-outlet></router-outlet>